* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan';
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #101010;
    color: #f5f5f5;
}

header {
    position: absolute;
}

header .logo {
    width: 100px;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.profiles {
    display: flex;
    overflow-x: auto;
    padding: 15px;
    gap: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-bottom: 1px solid #333;
}

.profiles::-webkit-scrollbar {
    display: none;
}

.profile {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-color: #555;
    flex-shrink: 0;
    margin: 0 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #101010;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    font-size: 1.1rem;
    color: #f5f5f5;
    padding: 0 15px;
    text-decoration: none;
    font-weight: bold;
    flex-shrink: 0;
}

.navbar a, .navbar a:hover, .navbar a:visited, .navbar a:active {
    text-decoration: none;
    color: #f5f5f5;
}

.navbar a.active {
    color: rgb(65, 132, 255);
}

.content {
    align-items: center;
    padding: 20px;
}

.status {
    padding: 0 25px;
    font-weight: bold;
    font-size: 1.2em;
    color: #f5f5f5;
    margin: 25px 0;
}

.event {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.video-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
}

.logos {
    margin: 0 10px;
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.logo-lb {
    width: 35%;
}

.separator {
    margin: 0 10px;
}

.logo-stance {
    width: 50%;
}

.event-info {
    margin-top: 50px;
    position: relative;
    bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 100px
}

.event-info p {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
}

.countdown {
    font-weight: bold;
    font-size: 3em;
    color: #4A90E2;
    margin-top: 25px;
    margin-bottom: 50px
}

.btn {
    background: #4A90E2;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 75px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    background: #357ABD;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 10px 0;
}

.footer .icon {
    padding: 10px;
    font-size: 200%;
    color: #f5f5f5;
    cursor: pointer;
}

.icon a, .icon a:hover, .icon a:visited, .icon a:active {
    text-decoration: none;
    color: #f5f5f5;
}